<div class="container">
  <mat-toolbar color="primary" class="toolbar">
    <h1 class="header_title">GrenouilleWeb</h1>


    <mat-select class="channel_selector" [(ngModel)]="channelService.channel" (selectionChange)="channelChanged($event)">
      <mat-option [value]="'froggedtv'">FroggedTV</mat-option>
      <mat-option [value]="'artifact_fr'">Artifact_FR</mat-option>
    </mat-select>

  </mat-toolbar>

  <div class="sidenav-container">

    <div class="sidenav">
      <app-sidebar></app-sidebar>
    </div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
